.containerPage {
	padding: 30px;
	display: flex;
	flex-direction: column;
}
.containerBox {
	width: 950px;
	padding: 30px;
	margin: 20px;
	border-radius: 15px;
	border: 2px solid grey;
	align-self: center;
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
	div {
	}
	.name {
		font-size: 22px;
		font-weight: 700;
		margin: 5px 0;
	}
	.stcode {
		font-size: 12px;
		font-weight: 500;
		color: rgb(228, 149, 45);
		margin: 0;
	}
}

.mainInfo {
	margin-top: 20px;
	background-color: #fff;
	border-radius: 15px;
	padding: 20px;
	.info__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		.info__item {
			display: flex;
			align-items: center;
			gap: 40px;

			&title {
				font-weight: 600;
			}
		}
	}
}
