.userList {
	background-color: #fff;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 15px;
	padding-bottom: 10px;
	div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		h3 {
			padding-left: 10px;
			color: rgb(234, 150, 47);
		}
	}
	hr {
		margin: 0;
		background-color: rgb(234, 150, 47);
		border: none;
		height: 2px;
	}
	.content {
		display: flex;
		justify-content: center;
		height: 200px;
	}
}

.info {
	display: flex;
	flex-direction: column;

	p {
		padding: 0;
		margin: 0;
		font-weight: 600;
	}

	span {
		padding: 0;
		margin: 0;
		font-size: 12px;
		font-weight: 600;
		margin-left: 10px;
		align-self: flex-start;
		background-color: rgb(246, 142, 57);
		color: floralwhite;
		padding: 0px 5px;
		border-radius: 5px;
	}
}

.carditem {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-right: 20px;
	&__left {
		display: flex;
		justify-content: space-between;
	}
}

.badge {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	background-color: rgb(238, 148, 96);
	color: floralwhite;

	font-size: 10px;
	font-weight: 600;
}
